h1{
    margin: 20px;
    text-align: center;
}
div{
    margin-left: 80px;
    margin-bottom: 50px;
    line-height: 30px;
    
}
input{
    margin-left: 20px;
}
#sub{
    padding: 5px;
    background-color: cyan;
}
